body {
    margin: 0;
    padding: 0;
}

#header {
    background-color: red;
    color: white;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-column-gap: 10px;
    font-size: .8em;
    margin-bottom: 10px;
    padding: 10px;
    line-height: .8;
}

#header img {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 2em;
}

#email-submit-form *,
#code-submit-form * {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    width: 20%;
    height: 1.5em;
    line-height: 1.2;
    border-radius: .35em;
    border: 1px solid lightgray;
}

#email-submit-form label,
#code-submit-form label {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.error {
    text-align: center;
    color: red;
    font-weight: bold;
}